
# Postgres-game:
POSTGRES_GAME_PORT:<your value>
POSTGRES_GAME_DB:<your value>
POSTGRES_GAME_USER:<your value>
POSTGRES_GAME_PASSWORD:<your value>

#postgres-users:
POSTGRES_USER_PORT:<your value>
POSTGRES_USER_DB:<your value>
POSTGRES_USER_USER:<your value>
POSTGRES_USER_PASSWORD:<your value>

#ports :
BACKEND_GAME_PORT:<your value>
BACKEND_USER_PORT:<your value>